$color: (
      "first-alpha":rgba(217, 0, 98, 0.75),
      "white": #fff,
      "black":rgba(0, 0, 0, 0.5),
      "third": #e8e4d9,
      "second": #14192d,
      "first": purple
    );

$max-widht: 1200px;

$header-height: 4rem;